<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
       <div class="menu">Menu </div>

       <div class="menu-options">Menu-options </div>

       <div class="formula-input">
           <input type="text" id="address">
           <input type="text" name="" id="formula">
        </div>

       <div class="cells">
          <% for(let i =0;i<100;i++) { %>
           <div class="row">
               <% for(let j =0;j<26;j++) { %>
                   <div class="cell" contenteditable="true" rid = "<%= i %>" cid="<%= j %>">
                
                   </div> 
                <% } %>
           </div>
         <% } %>
       </div>

       <div class="sheets">sheets</div>

       <script src="./script.js" async defer></script>
    </body>
</html>